/* YourComponent.scss */

.product-details {
  font-family: Arial, sans-serif;
  padding: 8px;
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
  }

  h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 12px;
  }

  .details-list {
    display: flex;
    gap: 20px;

    .detail-item {
      min-width: 280px;
      background-color: #fff;
      padding: 10px;
      border: 6px solid #ccc;
      border-radius: 4px;

      h3 {
        color: #555;
        font-size: 18px;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 14px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

.toclick {
  background-color: rgb(27, 206, 27);
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(27, 206, 27);
  letter-spacing: 1px;
}
.doneback {
  letter-spacing: 1px;
  border: 1px solid rgb(202, 30, 30);

  background-color: rgb(202, 30, 30);
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
.defaultcals {
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  opacity: 0.4;
}
