.navigationn {
  height: 90px;
  font-family: Aboreto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px rgb(210, 201, 201) solid;
  border-radius: 5px;
  position: fixed;
  z-index: 31234;
  background-color: rgb(255, 255, 255);
  .logo-container {
    img {
      width: 200px;
      padding: 5px;
      object-fit: cover;
      height: 100%;
    }
    // height: 100%;
  }
  .nav-links-containerrr {
    margin-top: 10px;
    border-radius: 5px;
    background-color: wheat;
    .fa-bars {
      padding-top: 8px;
      font-size: 24px;
      margin: 0px 10px;
      display: none;
    }
    height: 76%;
    display: flex;
    align-items: center;

    flex-direction: column;
    row-gap: 10px;

    .nav-linkk {
      text-decoration: none;
      padding: 10px 15px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transition: 0.3s;
        border: 2px solid rgb(114, 114, 241);
        border-radius: 7px;
      }
    }

    .linkss {
      // background-color: gold;
      display: flex;
      row-gap: 50px;
    }
    .linksBox {
      height: 100%;
    }
  }
  @media (max-width: 765px) {
    & {
      .linkss {
        display: none;
      }
      .jal {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        gap: 4px;
        color: white;
        opacity: 1;
        position: absolute;
        width: 150px;
        top: 95px;
        border-radius: 7px;
        right: 40px;
        overflow: hidden;
        .nav-linkk {
          text-decoration: none;
          color: white;
          font-size: 18px;
          background-color: #146c94;
          width: 100%;
          text-align: center;
          transition: 0.3s;
          &:hover {
            transition: 0.3s;
            color: black;
          }
        }
        z-index: 1900;
      }

      .nav-links-containerrr .fa-bars {
        display: block;
      }
    }
  }
}
