.more{
    min-width: 140px;
    min-height: 200px;
    max-width: 150px;
    max-height: 250px;
    background-color: rgba(185, 229, 229, 0.5);

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 55px;
    border-radius: 10px;
    color: gray;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        background-color: rgb(49, 116, 92);
      background-color: rgb(230, 178, 84);

        color: rgb(0, 0, 0);
        cursor: pointer;
        font-size: 33px;
        
    }
    @media (max-width:420px) {
      margin-bottom: 60px;
      min-height: 150px;
      
    }
}