.more{
    min-width: 150px;
    min-height: 240px;
    max-width: 150px;
    max-height: 250px;
    background-color: rgba(185, 229, 229, 0.5);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 55px;
    border-radius: 10px;
    color: gray;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        background-color: rgb(49, 116, 92);
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 33px;
        
    }
}