

.lablee{
    // background-color: rgb(64, 64, 240);
    color: rgb(0, 0, 0);
    width: 320px;
    margin: 5px auto;
    border-radius: 7px;
}

.back{
    padding: 2px;
    background-color: #ffffff;
    margin: 15px auto;
    width: 100%;
    transition: 0.4s;
    h1{
        text-align: center;
    }
    .order{
        width: 100%;
        background-color: #e2dede;
        margin: 0 auto;
        min-height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 10px;
        font-size: 16px;
        flex-wrap: wrap;
        .index{
            min-width: 40px;
            min-height: 40px;
            border: 1px rgb(139, 134, 134) solid;
            text-align: center;
            padding-top: 7px;
            border-radius: 50%;
            margin: 0 20px;
        }
        .talab{
            width:18% ;
            min-width: 200px;
            padding: 5px 0px;
            // font-weight: 500;
            .frow{
                font-weight: 500;
            }
        }
        .seeOrder{
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            width: 150px;
            height: 35px;
            background-color: rgb(240, 167, 32);
            border-radius: 7px;
            color: white;
            position: relative;
            .gfd{
                opacity: 0;
                position: absolute;
                top: 9px;
                left: 22px;
                transition: 0.2s;
            }
            &:hover{
                .gfd{
                    left: 118px;
                    transition: 0.2s;
                    opacity: 1;
                }
            }
        }
        .gg{
            background-color: #da7a7a;
            &:hover{
                .gfd{
                    left: 108px;
                    transition: 0.2s;
                    opacity: 1;
                }
            }
        }
    }
    &:hover{
        transition: 0.4s;
        background-color: #da7a7a;
    }
}
