.layout{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    .sublay{
        background-color: rgb(146, 213, 228);
        padding: 30px 30px 40px 30px;
        // margin-bottom: 50px;
    }
    @media (max-width:420px) {

        .sublay{
            // background-color: gray;
            padding: 0 20px 0 20px;
        }
        
    }
}