.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .title {
      font-size: 34px;
      margin-bottom: 25px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      background-color: rgb(168, 162, 162);
      padding: 10px;
      border-radius: 10px;
    }
    .preview {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }