.delete_page,
.update_page {
  min-height: 439px;
  .lable {
    padding-bottom: 30px;
    border-bottom: 15px solid gray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .input_id_product {
    border: 2px solid rgb(115, 134, 228);
    max-width: 400px;
    padding: 8px 16px;
    border-radius: 7px;
  }
  .button_search {
    padding: 10px 8px;
  }
  .saveupdates {
    background-color: rgb(115, 134, 228);
    color: white;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .opoo {
    display: flex;
    gap: 10px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin-bottom: 5px;
    border-radius: 6px;
    .e22 {
      width: 300px;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 5px;
      button {
        font-size: 19px;
        padding: 5px;
        transition: 0.3s;
        border: 1px solid red;
        border-radius: 6px;
      }
      button:hover {
        transition: 0.3s;
        background-color: rgb(230, 37, 37);
        color: white;
      }
      .eie {
        background-color: rgb(115, 134, 228);
        color: white;
        padding: 5px;
        margin-right: 5px;
        border-radius: 5px;
      }
    }
    flex-wrap: wrap;
    .eieim {
      width: 100px;
      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }
    }
  }

  .In_delete {
    display: grid;
    grid-template-columns: 150px 150px; /* Two columns with equal width */
    gap: 20px; /* Gap between grid items */
    gap: 10px;
    div {
      border-bottom: 1px solid;
    }
    p {
      display: flex;
      flex-direction: column;
      justify-content: start;
      min-width: 100px;
      max-width: 400px;
      background-color: rgb(166, 166, 250);
      padding: 4px 8px;
    }
  }

  .photoproduct {
    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }
  .alert-before-delete {
    border-radius: 7px;
    border: 2px solid white;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 202, 203, 0.95);
    padding: 20px;
    position: absolute;
    top: 25%;
    left: 30%;
    .delete-post {
      background-color: red;
      padding: 8px 13px;
      border-radius: 50%;
      border: 3px solid white;
      color: white;
      position: absolute;
      top: -10px;
      right: -10px;
      cursor: pointer;
      font-weight: bold;
    }
    .text-delete {
      font-size: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: 600px) {
      left: 10%;
      top: 20%;

      width: 80%;
      height: 40%;
    }
  }
}
