.pproductcard {
  max-width: 165px;
  height: 266px;
  border-radius: 7px;
  position: relative;
  z-index: 2;

  border: 1px solid rgb(201, 185, 185);
  .imgslider {
    height: 187px;
    // padding: 1px;
    // z-index: 7;
    // background-col or: red;
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 3;
    position: relative;
  }
  .addtioninformation {
    // position: absolute;
    // bottom: 0;
    height: 75px;
    font-size: 14px;
    padding: 1px 6px 4px;
    word-wrap: break-word;
    div {
      margin: 2px 0px;
    }
    .afteroffer {
      font-size: 17px;
      color: rgb(25, 25, 142);
      margin-left: 5px;
    }
    .beforeoffer {
      color: gray;
      margin: 0 0 0 5px;
      text-decoration: line-through;
      padding: 2px 0px;
    }
    .inoffer {
      padding: 2px 2px;
      // background-color: rgb(226, 226, 128);
      color: rgb(56, 174, 4);
      font-weight: bold;
      border-radius: 2px;
      text-transform: uppercase;
    }
    .textname {
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide overflowed content */
      text-overflow: ellipsis; /* Show ellipsis for overflowed content */
      width: 150px;
      background-color: rd;
      padding: 0;
    }
  }
}
