.footerfooter{

    height: 120px;
    padding: 20px 30px 0;
    margin-top: 30px;
    width: calc(100% );
    background-color: rgb(235, 228, 228);
    border-top: 1px solid rgb(175, 154, 154);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .onef{
        color: rgb(77, 75, 75);

    }

    .twof{
        img{
            height: 20px;
        }
        width: 250px;
        display: flex;
        justify-content: space-between;
    }
    .threef{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            width: 710px;
            font-size: 14px;
            justify-content: space-between;
            color: rgb(77, 75, 75);
        }
    }

}