.threechoice {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 20px;
  label {
    font-size: 19px;
  }
  input[type="radio"] {
    transform: scale(1.8);
    margin: 13px;
  }
}
.radioarray {
  // height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
