.categories-container{
    font-family:Aboreto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .lolo{
        min-height: 620px;
        max-height: 1000px;
        width: 100%;
    }
    .fofofo{
        width: 100%;
    }

}
@media (max-width:1100px) {
    .categories-container .lolo{
        min-height: 450px;
    }
}

@media (max-width:800px) {
    .categories-container .lolo{
        min-height: 290px;
    }
}
@media (max-width:600px) {
    .categories-container .lolo{
        min-height: 290px;
    }
}
@media (max-width:500px) {
    .categories-container .lolo{
        min-height: 190px;
    }
}
@media (max-width:400px) {
    .categories-container .lolo{
        min-height: 120px;
    }
}
    .category-container{
        min-width: 30%;
        flex: 1 1 0;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7.5px 15px;
        overflow: hidden;
        border-radius: 7px;
        position: relative;
        
        &:hover{
            transition: 0.3s;
            cursor: pointer;
            & .background-image{
                transform: scale(1.1);
                transition: 1s;
            }
    
            & .category-body-container{
                opacity: 0.9;
            }
        }
        .background-image {
            transition: 1s;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .category-body-container {
            border-radius: 7px;
                height: 90px;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                background-color: white;
                opacity: 0.7;
                border: none;
                min-width: 130px;
                // width: 90%;
                // position: absolute;
                h2 {
                    font-weight: bold;
                    margin: 0 6px 0;
                    font-size: 22px;
                    color: #4a4a4a;
                }
                p {
                    font-weight: lighter;
                    font-size: 16px;
                }
        }

   
    }


