.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    // background-color: red;
    .title-in-sub {
      font-size: 34px;
      margin-bottom: 25px;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      background-color: rgb(168, 162, 162);
      border-radius: 10px;
      align-items: center;
      padding: 10px;
    }
  
    .preview-sub {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  