.state {
  padding: 0 10px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
  .index {
    font-size: 13px;
    height: 53px;
    background-color: #d4cece;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    border: 1px solid;
  }
  .gren {
    background-color: greenyellow;
  }
}
